@import './components/Navbar/Navbar.scss';
@import './components/InfoBoard/InfoBoard.scss';
@import './components/PromotedAnnounces/PromotedAnnounces.scss';
@import './components/SearchInput/Search.scss';
@import './components/SecondaryInfoBoard/SecondaryInfoBoard.scss';
@import './components/Categories/Categories.scss';
@import './components/Card/Card.scss';
@import './components/InfoCategories/InfoCategories.scss';
@import './components/Footer/Footer.scss';
@import './components/SearchFilters/SearchFilters.scss';
@import './components/WidthCard/WidthCard.scss';
@import './components/ProductParts/ProductHistory/ProductHistory.scss';
@import './components/ProductParts/ProductId/ProductId.scss';
@import './components/ProductParts/ProductLeftPart/ProductLeftPart.scss';
@import './components/ProductParts/ProductRightPart/ProductRightPart.scss';


::selection {
    background-color: #000;
    color: #fff;
}

img::selection {
    background-color: transparent;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}