@import './components/Navbar/Navbar.scss';
@import './components/InfoBoard/InfoBoard.scss';
@import './components/PromotedAnnounces/PromotedAnnounces.scss';
@import './components/SearchInput/Search.scss';
@import './components/SecondaryInfoBoard/SecondaryInfoBoard.scss';
@import './components/Categories/Categories.scss';
@import './components/Card/Card.scss';
@import './components/InfoCategories/InfoCategories.scss';
@import './components/Footer/Footer.scss';

::selection {
    background-color: #000;
    color: #fff;
}

img::selection {
    background-color: transparent;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}