@include xs {
    .productContainer {
        flex-direction: column;
    }
}

@include xs-sm {
    .productContainer {
        flex-direction: column;
    }
}

@include sm-md {
    .productContainer {
        flex-direction: row;
    }
}

@include md-lg {
    .productContainer {
        flex-direction: row;
    }
}

@include lg-xl {
    .productContainer {
        flex-direction: row;
    }
}

@include xl {
    .productContainer {
        flex-direction: row;
    }
}

.productId {
    max-width: 100%;
    .productContainer {
        display: flex;
        max-width: $lg;
        margin: 0 auto;

        .leftPart {
            display: flex;
            flex: 2;
        }

        .rightPart {
            display: flex;
            flex: 1;
        }
    }
}