@import '../../scss/_responsive';
@import '../../scss/_variables';

@include xs {
    .allContainer {
        opacity: 0.75;
    }

    .infoBoard__container {
        display: flex;
        height: 450px;
        justify-content: center;
        align-items: flex-end;
    }
}

@include xs-sm {
    .allContainer {
        opacity: 0.75;
    }

    .infoBoard__container {
        display: flex;
        height: 420px;
        justify-content: center;
        align-items: flex-end;
    }
}

@include sm-md {
    .allContainer {
        opacity: 0.75;
    }

    .infoBoard__container {
        display: flex;
        height: 420px;
        justify-content: center;
        align-items: flex-end;
    }
}

@include md-lg {
    .infoBoard__container {
        display: flex;
        height: 300px;
        justify-content: center;
        align-items: center;
    }
}

@include lg-xl {
    .infoBoard__container {
        display: flex;
        height: 300px;
        justify-content: center;
        align-items: center;
    }
}

@include xl {
    .infoBoard__container {
        height: 300px;
        justify-content: center;
        align-items: center;
    }

}

.infoBoard {
    background-color: $infoCardColor;
    width: 100%;
    display: flex;
    font-family: $fontFamily;

    &__container {
        display: flex;
        width: $lg;
        margin: 0 auto;
        position: relative;

        .fixedImage {
            width: 500px;
            height: 500px;
            left: 0;
            top: -90px;
            z-index: 1;
            position: absolute;
        }
    }

    .allContainer {
        z-index: 2;
        display: flex;
        flex-direction: row;
        background-color: #ffffff;
        border-radius: 1rem 0px 1rem 0px;
    }

    &Text {
        padding: 2rem;
        color: $navColor;
        display: flex;
        flex-direction: column;
    }

    .buttonContainer {
        display: flex;
        align-items: center;
        
        .infoBoardButton {
            border: solid 1px $navColor;
            background-color: transparent;
            font-family: $fontFamily;
            padding: 1rem;
            font-weight: 700;
            cursor: pointer;
            margin-right: 1rem;
            transition: all 1s;
            &:hover {
                background-color: $navColor;
                color: white;
            }
        }
    }

}
