@mixin smallSearchFiltersMisc {
    .searchFiltersContainer__misc {
        flex-direction: column;

        &__services {
            width: 100%;
        }

    }
    .searchFiltersContainer__misc__save  {
        justify-content: center;
        margin-top: 1rem;
    }
}

@mixin bigSearchFiltersMisc {

    .searchFiltersContainer__misc {
        flex-direction: row;

        &__services {
            width: 60%;
        }
    }
    .searchFiltersContainer__misc__save  {
        justify-content: flex-end;
        margin-top: 0;
    }
}

@mixin smallSearchFiltersFind {
    .searchFiltersContainer {

        &__filter {
            width: 100%;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            p {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        &__sort {
             flex-direction: column;
        }
        }
    }

@mixin bigSearchFiltersFind {
    .searchFiltersContainer__filter {
            width: 100%;
            align-items: center;
            // justify-content: center;
            flex-direction: row;

            p {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

@mixin select {
    select {
        transition: all 0.5s;
        font-family: $fontFamily;
        outline: none;
        padding: 5px;
        height: 40px;
        font-size: 1.2rem;

        &:hover {
            color: $navColor;
        }
    }
}

@include xs {
    @include smallSearchFiltersMisc;
    @include smallSearchFiltersFind;
}

@include xs-sm {
    @include smallSearchFiltersMisc;
    @include smallSearchFiltersFind;
}

@include sm-md {
    @include bigSearchFiltersMisc;
    @include smallSearchFiltersFind;
}

@include md-lg {
    @include bigSearchFiltersMisc;
    @include bigSearchFiltersFind;
}

@include lg-xl {
    @include bigSearchFiltersMisc;
    @include bigSearchFiltersFind;
}

@include xl {
    @include bigSearchFiltersMisc;
    @include bigSearchFiltersFind;
}


.searchFilters {
    display: flex;
    width: 100%;
    padding: 20px 0px;
    background-color: $backgroundColor;


    &Container {
        display: flex;
        flex-direction: column;
        width: $lg;
        margin: 0 auto;
        font-family: $fontFamily;

        &__sort {
            // flex-direction: row;
            display: flex;
            margin-top: 1rem;
            justify-content: center;

            p {
                margin: 0 15px;
                display: flex;
                align-items: center;
            }

        }

        &__misc {
            display: flex;
            width: 100%;

            &__services {
                display: flex;
                align-items: center;
                justify-content: space-around;   
                
                &__item {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 5px;
                }
            }
        }

        &__find {
            display: flex;
            font-family: $fontFamily;
            flex-direction: column;
            border-bottom: solid 1px grey;
        }

        &__filter {
            display: flex;
        }

        &__searchCategories {

            p {
                display: inline-block;
                margin-right: 5px;
                color: grey;
                font-size: 0.85rem;
            
                &:hover {
                    color: white;
                    cursor: pointer;
                    background-color: $navColor;
                }
            }



            margin-top: 2rem;
        }

        @include select;

        &__price {
            display: flex;
            flex-direction: column;
            width: 20%;
            
            
            .searchFiltersInputPart {
                display: flex;
                width: 100%;
                justify-content: space-around;

                input {
                    height: 40px;
                    padding: 10px;
                    border: solid 1px grey;
                    width: 90px;
                    font-size: 1.1rem;
                    font-family: $fontFamily;
                }

            }
        }
    }

        &Container__misc__save {
            width: 100%;
            display: flex;

            .searchFiltersSaveButton {
                display: flex;
                background-color: transparent;
                border: solid 1px grey;
                padding: 1rem;
                font-family: $fontFamily;
                cursor: pointer;
                outline: none;
                font-size: 1rem;
                transition: all 1s;
                align-items: center;

                .searchFiltersIcon {
                    font-size: 1.5rem;
                    margin-right: 5px;
                }
            
                &:hover {
                    color: white;
                    background-color: $navColor;
                }
            }
        }

        &Container__removeFilter {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            cursor: pointer;
        }

        .searchFiltersCard {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px;


            &__container {
                display: flex;
                flex-direction: column;
            }
        }

}