@import '../../scss/_variables';
@import '../../scss/_responsive';

@include xs {
    .categories {
        &__body {
            grid-template-columns: repeat(3, 1fr);
            width: 400px;
        }

        &__itemPhoto {
            border-radius: 100%;
            height: 100px;
            width: 100px;
        }
    }
}

@include xs-sm {
    .categories {
        &__body {
            grid-template-columns: repeat(3, 1fr);
            width: $xs;
        }

        &__itemPhoto {
            border-radius: 100%;
            height: 100px;
            width: 100px;
        }
    }
}

@include sm-md {
    .categories {
        &__body {
            grid-template-columns: repeat(4, 1fr);
            width: $xs;
        }

        &__itemPhoto {
            border-radius: 100%;
            height: 100px;
            width: 100px;
        }
    }
}

@include md-lg {
    .categories {
        &__body {
            grid-template-columns: repeat(4, 1fr);
            width: $md;
        }

        &__itemPhoto {
            border-radius: 100%;
            height: 100px;
            width: 100px;
        }
    }
}

@include lg-xl {
    .categories {
        &__body {
            grid-template-columns: repeat(7, 1fr);
            width: $lg;
        }

        &__itemPhoto {
            border-radius: 100%;
            height: 100px;
            width: 100px;
        }
    }
}

@include xl {
    .categories {
        &__body {
            grid-template-columns: repeat(8, 1fr);
            width: $lg;
        }

        &__itemPhoto {
            border-radius: 100%;
            height: 100px;
            width: 100px;
        }
    }
}

.categories {
    display: flex;
    width: 100%;
    
    &Container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        max-width: $lg; 
        font-family: $fontFamily;
    }


    &__titleContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem 0;
    }

    &__title {
        font-weight: 700;
    }

    &__body {
        gap: 1rem 0px;
        display: grid;
        align-items: center;
        justify-content: center;
    }

    &__container {
        &__item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    &__itemPhoto {
        display: flex;
        cursor: pointer;
    }

    &__itemTitle {
        display: flex;
        cursor: pointer;
        font-weight: 700;
    }
}