// colors

$navColor: #002f34;
$searchColor: #efeeee;
$inputBorderColor: #d9d9d9;
$buttonColor: #002f34;
$buttonTextColor: #efeeee;
$buttonHoverColor: #002f34;
$buttonHoverTextColor: #efeeee;
$buttonActiveColor: #002f34;
$buttonActiveTextColor: #efeeee;
$infoCardColor: #002F34;
$secondaryInfoBoardColor: #CBF7EE;

// responsive

$xs: 576px;
$sm: 768px;
$md: 992px;
$lg: 1200px;
$xl: 1600px;


@font-face {
    font-family: 'Geomanist';
    src: url('../../src/assets/geomanist.ttf');
}

$fontFamily: 'Geomanist', sans-serif;